{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
     <div class="container">
       <div class="row justify-content-center align-items-center ">
         <div class="col-4">
            <div class="panel-body mt-4">
               <h5 class="text-center text-danger">Введите логин и пароль:</h5>

                <form method="POST">
                    {% csrf_token %}
                 <div class="field-in-form">
                  {% for field in form %}

                     <span>{{ field.label }}</span>
                      <br/>
                      {{ field }}
                      <br/>
    {% endfor %}
                 </div>
                    <p>
                      <button type="submit" class="btn btn-red  mb-2 float-right">Войти</button>

                <a href="{% url 'password_reset' %}">Забыли пароль?</a>
                                <a href="{% url 'sign-up' %}">Зарегистрироваться</a>
                    </p>

                 </form>
            </div>
         </div>
         </div>
     </div>
    {% endif %}
{% endif %}



{% endblock %}
