{% extends "base_generic.html" %}

{% block content %}
     <div class="container">
       <div class="row justify-content-center align-items-center ">
         <div class="col-3 ">
        <div class="panel-body ">
           <h4 class="text-center">Регистрация:</h4>
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
               {% for field in user_form %}
                 <div class="form-group " id="field-in-form">
                     <span>{{ field.label }}</span>
                              {{ field }}
                            {% endfor %}
                 </div>
              <button type="submit" class="btn btn-red w-100">Зарегистрироваться</button>
            </form>
        </div>
     </div>
        </div>
     </div>
{% endblock %}

