{% extends "base_generic.html" %}

{% block content %}

     <div class="row col-3 offset-4 mt-4">
        <div class="panel-body ">
           <h4 class="text-center">Регистрация:</h4>
            <br/>
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}

                        {% for field in user_form %}
        <div class="row">
            <span class="ml-5 ">{{field.label_tag}}</span>
            <div class="col-md-10 ml-4">{{field}}</div>
        </div>
        {% endfor %}

              <button type="submit" class="btn btn-red mt-3  mb-2">Зарегистрироваться</button>
            </form>
        </div>
     </div>

{% endblock %}

