html {
  position: relative;
  min-height: 100%;
}

body{
    background-color: white;
     background-image: url("../../static/img/fon1.jpg");
      margin-bottom: 60px;// значение высоты #footer
}

.wrapper {
    width:960px;
    max-width:100%;
    margin:0 auto;
}

/*HEADER*/
.panel {
    background-color: #2F3C43;
    height:50px;
}
.color-bars {
    opacity: 0.8;      /*Полупрозрачный фон*/
}
/*регистрация и вход*/
#reg-menu  {
    font-size: 17px;
    position: center;
    bottom: -10px;
    color:#D1D4D5;
    }
#reg-menu  a {
    text-decoration: none;
    font-family:  Arial,Helvetica,sans-serif;
    color:#D1D4D5;
}
.nav-panel a {

    font-size: 16px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif, bold;
    font-weight: normal;


}
/*баннер на главной*/
.image {
	position: relative;
}

.carousel-caption  {
    position: absolute;
    color: white;
}

#carousel-img-two {
    font-size: 45px;
    font-family: Calibri;
    text-shadow: black 2px 3px 4px;
    font-style: initial;
    text-align: right;
    padding: 70px;
}

#carousel-img-three {
    font-size: 60px;
    font-family: Calibri;
    text-shadow: black 2px 3px 4px;
    font-style: initial;
    text-align: left;
    padding: 70px;
}

/*страницы регистрации и входа и всех форм*/
.bg-ruby {
  background-color:#ebebeb;
}

.btn-red {
    color: white;
    background-color: #E21E35;
}

.btn-red:hover,
.btn-red:focus {
  color: white;
  background-color: #Ec4D57;
}

.panel-body {
    border: 1px #808080 solid; /* Параметры рамки */
    background: #007bff2e; /* Цвет фона */
    padding: 20px; /* Поля вокруг текста */
    /*margin: 10px; !* Отступы вокруг *!*/
    border-radius: 10px; /* закругленные углы рамки */
 }

.panel-body span{
    font-size:17px;
    font-family: Calibri;
    text-shadow: black 0px 0px 0px;
    font-style: initial;
}
.panel-body h4 {
    font-size: 34px;
    font-family: Calibri;
    text-shadow: #4f4c4c 1px 1px 1px;
    font-style: initial;
    color: #224895;
}

#da {
    background-color: white;
}

#field-in-form{
    font-size:17px;
    font-family: Calibri;
    text-shadow: black 0px 0px 0px;
    font-style: initial;
}

/* training-card */
#text-in-card{
    text-align: center;
    color: #fd7e14;
    text-shadow: black 1px 1px 1px;
    font-style: initial;
    /*background-color: #fd7e14;*/
    margin-bottom: 10px;
    /*border: 1px #808080 solid; !* Параметры рамки *!*/
    /*padding: 5px; !* Поля вокруг текста *!*/
    /*border-radius: 3px; !* закругленные углы рамки *!*/
}

.card {
    box-shadow: 2px 3px 4px darkgrey;
    margin-bottom: 10px;
}

.card-body h6 {
    margin-top: -15px;
}

.card-body p, li {
    font-size: small;
    text-align: justify;
}

#card-detail{
    border: 1px rgba(0, 0, 0, 0.13) solid; /* Параметры рамки */
    background: white; /* Цвет фона */
    border-radius: 5px; /* закругленные углы рамки */
}

#card-detail h3 {
    color: #0056b3;
}

#card-detail p {
    font-size: 14px;
    line-height: 18px;
    text-align: justify;
}

#card-detail li {
    font-size: 14px;
    line-height: 18px;
    margin-top: 2px

}

/* FOOTER */
#bgfooter {
    background-image: url("../../static/img/bgfooter.png");
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: white;
}

.page-footer a{
    color: white;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif, bold;
}

.footer-copyright {
    background-color: black;
}
