{% extends "base_generic.html" %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-9 mt-5">
        <h3>О нас</h3>
        <p>Первый и единственный в Приднестровье каталог данной тематики.
            В нашем каталоге собрана информация о всех спортивных и образовательных организациях.
            <br>
            .............................................................
        ...................................................................
        ....................................................................
            <br>
        Ваши предложения и вопросы пишите нам на............. </p>
    </div>
</div>
{% endblock %}
