{% extends "base_generic.html" %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-9 mt-5">
        <h3>Размещение рекламы</h3>
       <p align=" left">
              По вопросам размещения рекламы на сайте обращаться в коммерческий отдел по телефонам 8(8442) 33-07-26, 33-07-24 или email: otdel_reklama@v102.ru.
            Руководитель рекламной службы Ягодина Татьяна +7 927-532-46-08 или e-mail:yagodina@v102.ru.
            Менеджер рекламной службы Ярошко Елена e-mail: yaroshko@v102.ru.
            Директор по развитию Королевич Вера +7 927-254-98-05 или e-mail:gazeta@v102.ru
            <br>
            1. Изготовление и размещение баннеров
                Баннерные места на сайте продаются  по времени размещения, без ротации. Все баннеры сквозные (отображаются на всех страницах сайта), при клике на них имеют возможность перехода на сайт или веб-страницу.
            Размеры баннеров: 600х90 px, 300х90 px, 300х200 px, 300х100 px, 300х120 px, 300х500 px.
            Форматы баннеров: jpeg, тизерный (содержит фото 130х100 px и текстовую до 70 знаков с пробелами ссылку) – статичные, анимационные – gif, html5.
            Предоставляется стати стика показов, кликов и CTR.
            2. Информационные материалы
            Размещение информационных материалов возможно:
            • в основной ленте новостей на главной странице сайта;
            • в рубриках «Экономика», «Общество» и пр.(вход с верхней панели-меню);
            • На главной странице сайта есть возможность выставить анонс материала, находящегося в рубрике (фото плюс заголовок-ссылка);
            • в разделах «Актуально» (вход с главной страницы).
            Форматы: пресс-релиз, новостной материал, аналитическая статья, репортажи, фоторепортажи.
            Под каждым материалом установлен счетчик прочтений. Статья хранится в архиве рубрики неограниченное время.
            • Опрос
            Это реклама и сбор ценной информации одновременно. Мы размещаем опрос по вашей теме на главной странице сайта и наши посетители голосуют в течение двух недель. При клике на баннер, который будет рядом с формой опроса, каждый из них сможет перейти на ваш сайт. По результатам голосования мы предоставляем данные в табличной форме и по вашему желанию размещаем об этом новость на сайте.
            Ограничения на размещение рекламы
            Рекламодателю может быть отказано в размещении рекламы, если она не соответствует действующему законодательству, техническим и этическим требованиям редакции «Высота 102». Мы  не рекламируем товары и услуги, которые редакция (ООО "СВЖ ОСТРОВ") признает сомнительными с моральной, нравственной или эстетической точки зрения либо противоречащими здравому смыслу.
            ООО "СВЖ "ОСТРОВ" не несет ответственности за содержание рекламных материалов (информации для них), предоставленных рекламодателем.
            Вышеперечисленные условия по размещению рекламы на сайте www.v102.ru не являются публичной офертой.
            Информационные материалы, предоставленные пресс-службами коммерческих организаций, сецпроекты и "Новости компаний" публикуются на правах рекламы.
       </p>
    </div>
</div>
{% endblock %}
