{% extends "base_generic.html" %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-9 mt-5">
        <h3>Контакты</h3>
        <p>Каждый второй и четвертый вторник месяца с 16:00 до 17:00.</p>
        <ul>
            <li>Адрес: Moldtelecom, бул. Штефан чел Маре, 10, Зал аудиенции, 1 этаж.</li>
            <li>Tел. приемной: (373 22) 570-101, факс: (373 22) 570-111.</li>
            <li>E-mail: office@moldtelecom.md</li>
        </ul>
    </div>
</div>











{% endblock %}
