{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" icontent="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equv="X-UA-Compatible" content="ie=edge">

   {% block title %}<title>Портал</title>{% endblock %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<!-- Put this script tag to the <head> of your page -->
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?162"></script>

<script type="text/javascript">
  VK.init({apiId: 7075437, onlyWidgets: true});
</script>
</head>
<body>
<div class wrapper >
    <div class="header">
        <div class="color-bars">
          <div class="container-fluid">
            <div class="row">
              <div class="col color-bar bg-warning" style="height: 4px"></div>
              <div class="col color-bar bg-success"></div>
              <div class="col color-bar bg-danger"></div>
              <div class="col color-bar bg-info"></div>
              <div class="col color-bar bg-primary"></div>
              <div class="col color-bar bg-secondary"></div>
              <div class="col color-bar bg-warning"></div>
              <div class="col color-bar bg-success"></div>
              <div class="col color-bar bg-danger"></div>
              <div class="col color-bar bg-info"></div>
              <div class="col color-bar bg-primary"></div>
              <div class="col color-bar bg-secondary"></div>
            </div>
          </div>
        </div>
        <div class="panel">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center">
                    <div class="col-auto" id="reg-menu">
                    <h6 class="mt-1" style="color:#B5D56A" ><i class="far fa-calendar-alt"></i>&nbsp&nbsp{{ time }}</h6>
                    </div>
                    <div class="col text-right " id="reg-menu">
                      {% if user.is_authenticated %}
                          <a href="{% url 'account' %}"><i class="fas fa-user" style="color:#B5D56A"></i> {{ user.get_username }}&nbsp&nbsp&nbsp&nbsp</a>
                         <a href="{% url 'logout'%}?next=?next=/"><i class="fas fa-sign-in-alt " style="color:#B5D56A"></i>Выйти</a>
                      {% else %}
                           <a href="{% url 'login'%}?next={{request.path}}"><i class="fas fa-sign-in-alt " style="color:#B5D56A"></i> Войти</a>&nbsp&nbsp
                           <a href="{% url 'sign-up'%}" ><i class="fas fa-user-plus" style="color:#B5D56A"></i> Зарегистрироваться </a>

                      {% endif %}


                    </div>
                </div>
            </div>
        </div>
    <div class="nav-panel">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="{% url 'index' %}">
                  <img src="/static/img/logo-school.png" height="60" width="220" class="d-inline-block align-top" alt="">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Главная <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'profile' %}">Профиль</a>
                      {% else %}
                    <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Профиль</a>

                      {% endif %}
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'about_us' %}">Каталог</a>
                  </li>
                </ul>
                 {% if user.is_authenticated %}
             <a class="btn btn-outline-info mr-5" href="{% url 'add_training' %}" role="button">Добавить занятие в каталог </a>
                    {% else %}
             <a class="btn btn-outline-info mr-5"  href="{% url 'login'%}?next={{request.path}}" role="button">Добавить занятие в каталог </a>
                    {% endif %}

                <form class="form-inline my-2 my-lg-0" action="{% url 'search_query' %}">
                  <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search" name="search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
                </form>
              </div>
            </nav>
    </div>
    </div>
    <div class="content">

                {% block content %}{% endblock %}


    </div>
    </br>
    </br>
    </br>


                <!-- Footer -->
        <footer class="page-footer font-small blue ">
           <div class="color-bar">
                  <div class="col color-bar  bg-secondary" style="height: 2px"></div>

           </div>
          <div class="container-fluid text-center text-md-left">
            <div class="row"  id="bgfooter" >
              <div class="col-md-3 mt-md-0 mt-3">
                  <a class="navbar-brand mt-2" href="{% url 'index' %}">
                      <img src="../../static/img/logo-footer.png" height="50" width="170" alt="">
                  </a>
              </div>
              <hr class="clearfix w-100 d-md-none pb-3">
              <div class="col-md-6 mb-md-0 mt-2">
{#                <h5 class="text-uppercase">Информация</h5>#}
                <ul class="list-unstyled">
                  <li>
                    <a href="{% url 'about_us' %}">О нас</a>
                  </li>
                  <li>
                    <a href="{% url 'advertising' %}">Реклама на сайте</a>
                  </li>
                  <li>
                    <a href="{% url 'contacts' %}">Контакты</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3 mb-md-0 mt-2">
                  <h6>Социальные сети:</h6>
                <img src="../../static/img/soc_seti.png" height="30" width="130" alt="">
              </div>

            </div>
          </div>

          <div class="footer-copyright text-center py-1">© 2019 Copyright:
            <a href="{% url 'index' %}"> HOBBY.MD</a>
          </div>
        </footer>

</div>

</body>
</html>
