{% extends "base_generic.html" %}

{% block content %}
     <div class="container ">
       <div class="row mt-4  justify-content-center align-items-center ">
         <div class="col-5 ">
            <div class="panel-body ">
               <h4 class="text-center ">Добавить занятие</h4>
                <hr class="bg-info">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                  {% for field in form %}
                 <div class="form-group " id="field-in-form">
                    {{ field.label }}
                     {{ field }}
                        {% endfor %}
                 </div>
                <button type="submit" class="btn btn-red w-50 ">Добавить</button>
              </form>
            </div>
         </div>
         </div>
     </div>
{% endblock %}
