{% extends 'catalog\profile.html' %}

{% block body %}

<div class="container">
    <div class="row ">
        <div class="col offset-2">
            <h1>Удалить запись</h1>
            <p>Вы действительно  хотите удалить запись: <b>{{ training.title }}?</b></p>
        <form action="" method="POST">
          {% csrf_token %}
            <a href="{% url 'catalog_in_profile' %}">Cancel</a>
            <button type="submit" name="button" class="btn btn-danger" }>Delete</button>
        </form>

        </div>
    </div>
</div>
{% endblock %}